/* Navbar Styling */
.navbar {
  background-color: #f8f8f8;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #555 !important;
}

/* Mobile Dropdown background */
#nav-list {
  background-color: #e7e7e7;
  margin: 0;
}

#nav-list li a {
  color: #555;
  border-bottom: 1px solid #ddd;
}

/* Content Section */
#content-box {
  background-color: #999;
  color: white;
  padding: 20px;
  margin-top: 20px;
  height: 1000px; /* Forces scrolling as required */
}

h1 {
  margin-top: 20px;
  font-weight: bold;
}
