/* Navbar Styling */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

/* Mobile Dropdown Menu Styling */
#nav-list {
  background-color: #f8f8f8; /* Distinguish from content */
  margin: 0;
  text-align: center;
}

#nav-list li {
  border-bottom: 1px solid #e7e7e7;
}

/* Page Content */
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#main-content {
  background-color: #999; /* Example gray color */
  padding: 15px;
  width: 100%;
  height: 1000px; /* Forces scrolling as required */
  margin-bottom: 20px;
}
